
input.ng-valid.ng-touched{
  border-left:5px solid #42A948;
}
input.ng-invalid  {
  border-left: 5px solid #a94442; /* red */
}
input.ng-invalid.ng-touched{
  color:#a94442;
  border:2px solid rgba(169, 68, 66, 0.5);
  border-left: 5px solid #a94442; /* red */
}
.form-text{
  color:#a94442;
}
.row{
  align-items:baseline;
}

.col-form-label {
  text-align:right;
}
