<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div *ngIf="showModules" class="pt-5 row ">
      <div class="card col-6 col-lg-3" >
        <div class="card-body ">
          <h4 class="card-title">Cashier Operations</h4>
          <ul class="list-unstyled">
            <li class="list-item"><a routerLink="/addPaymentSelectCase">Add a New Payment</a></li>
            <li class="list-item"><a routerLink="/searchBatches">Search for Batches</a></li>
            <li class="list-item"><a routerLink="/searchPayments">Search for Payments</a></li>
          </ul>
        </div>
      </div>
      <div class="card col-6 col-lg-3" >
        <div class="card-body">
          <h4 class="card-title">Supervisor Operations</h4>
          <ul class="list-unstyled">
            <li class="list-item"><a routerLink="/searchBatchesSupervisor">Search for Batches</a></li>
            <li class="list-item"><a routerLink="/searchPaymentsSupervisor">Search for Payments</a></li>
            <li class="list-item"><a routerLink="/generateReport">Generate Reports</a></li>
          </ul>
        </div>
      </div>
      <div class="card col-6 col-lg-3" >
        <div class="card-body">
          <h4 class="card-title">Disbursement Pull</h4>
          <ul class="list-unstyled">
            <li class="list-item"><a routerLink="/searchPaymentToPull">Search Payments to Pull</a></li>
          </ul>
        </div>
      </div>
      <div class="card col-6 col-lg-3" >
        <div class="card-body">
          <h4 class="card-title">Customer Service</h4>
          <ul class="list-unstyled">
            <li class="list-item"><a routerLink="/cs" target="_blank">Customer Service</a></li>
          </ul>
        </div>
      </div>
      <div class="card col-6 col-lg-3" >
        <div class="card-body">
          <h4 class="card-title">User Administration</h4>
          <ul class="list-unstyled">
            <li class="list-item"><a routerLink="/userAdmin">Add/Edit/Delete Users</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
